.page-four {
    background-color: #282B4A;
    width: 40% !important;
}

.title-contact {
    color: #FFD491;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-left: 150px;
}

.social-buttons:link, .social-buttons:visited, .social-buttons:active {
    color: #FFD491;
}

.main-four {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20%;
}

.goodbye {
    font-family: 'Montserrat', sans-serif;
    color: #FFD491;
    margin: 20% 25% 0 10%;
    letter-spacing: 0.04em;
    line-height: 1.2;
    font-size: 2.5vw;
}

.social-buttons {
    margin-right: 12%;
    font-size: 13px;
}

.fa-5x {
    margin-bottom: 40px;
    cursor: pointer;
}

.a:hover, .fa-5x:hover {
    transform: scale(1.1);
    color: #FCF3E4;
}


.email {
    font-family: 'Montserrat', sans-serif;
    color: #FFD491;
    letter-spacing: 0.04em;
    line-height: 1.2;
    margin-left: 10%;
    margin: 10%;
}


/* Smaller screens and laptops */

@media screen and (max-width: 1600px) {
    .title-contact {
        margin-left: 50px;
    }
    .goodbye {
        margin-top: 50px;
    }

    .social-buttons {
        margin-top: 10%;
    }

}

@media screen and (max-width: 1024px) {
    .goodbye {
        margin-top: 30px;
    }
    .title-contact {
        display: none;
    }

}


/* Tablet portrait */

@media screen and (max-width: 700px) {
    .logo {
        margin-left: 10px;
    }
    .goodbye, .email {
        display: none;
    }

    .social-buttons {
        margin-left: 50px;
    }
    .title-contact {
        display: none;
    }
}

/* Mobile */


@media screen and (max-width: 480px) {
    .logo {
        margin-left: 40px;
    }

    .social-buttons {
        margin-left: 50px;
    }
    .title-contact {
        display: none;
    }
}
