/* General styling */

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content {
    width: 100%;
    height: 100%;
    background: #282B4A;
    white-space: nowrap;
}

.content .page {
    display: inline-block;
    vertical-align:top;
    width: 100%;
    height: 100%;
    white-space: normal;
}


/* Header section */

header {
    width: 100%;
    display: inline-flex;
}

.logo {
    height: 50px;
    width: auto;
    margin-top: 50px;
    margin-left: 60px;
}

/* Menu button styling */

.hamburger-menu {
    width: 60px;
    height: 60px;
    background-color: #FFD491;
    top: 50px;
    right: 60px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 300;
    transition: all 0.5s;
}

.hamburger-menu:focus {
  outline: none;
}

.change .hamburger-menu {
    background-color: #282B4A;
    outline: none;
}

.line {
    width: 30px;
    height: 2px;
    background-color: #282B4A;
    margin: 2px 0;
    transform-origin: right;
    transition: all 0.5s;
}

.change .line-1 {
    transform: rotate(-40deg) translateY(-5px);
    background-color: #FFD491;
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotate(40deg) translateY(5px);
    background-color: #FFD491;
}

.bg-cover {
    background-color: #FCF3E4;
    width: 45px;
    height: 45px;
    top: 52px;
    position: absolute;
    right: 62px;
    z-index: 100;
    border-radius: 50%;
    transition: transform 0.5s;
}


.change .bg-cover {
    transform: scale(60);
}

.nav-list {
    height:100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

.change .nav-list {
    opacity: 1;
    visibility: visible;
}

.nav-item {
    margin: 1vh 0;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #282B4A;
    transition: letter-spacing 0.2s;
}

.nav-link:hover {
    letter-spacing: 0.8rem;
}

/* Main section */

.main-one{
    position: relative;
    margin-top: 5%;
}

.greeting {
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
    color: #FFD491;
    font-size: 15rem;
    position: absolute;
    margin-top: 60px;
    left: 50px;
    z-index: 1;
    letter-spacing: 5px;
}

#wall-photo {
    height: 40rem;
    width: auto;
    position: absolute;
    left: 60%;
}

.main-intro {
    position: absolute;
    top: 46vh;
    left: 38%;
}

.break {
    margin-bottom: 7px;
    height: 2px;
    background-color: #FCF3E4;
}

.introduction {
    color: #FCF3E4;
    text-align: right;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    letter-spacing: 0.04em;
}


// arrow
.item {
  width: 100px;
  height: 50px;
  margin: 10px;
  position: relative;
}


.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  color: #FFD491;
  margin-left: 50px;
  position: absolute;
  margin-top: 30%;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

/* Progress bar menu */
.footer {
    position: fixed;
    bottom: 2vh;
    left: 10%;
    width: 80%;
    height: 8px;
}

.footer .progress {
    width: 100%;
    height: 100%;
    background: #0797a2;
}

.footer .progress .bar {
    width: 0%;
    height: 100%;
    background: #FFD491;
}


/* Smaller screens and laptops */
@media screen and (max-width: 1600px) {
    .greeting {
        font-size: 9rem;
    }

    #wall-photo {
        width: 250px;
        height: auto;
    }

    .introduction {
      font-size: 1.3vw;
    }
}


/* Tables landscape*/
@media screen and (max-width: 1024px) {
    .greeting {
        font-size: 5rem;
    }

    #wall-photo {
        width: 215px;
    }

    .main-intro {
        position: absolute;
        top: 40vh;
    }
}


/* Tablet portrait */

@media screen and (max-width: 768px) {
    .greeting {
        font-size: 3rem;
    }


    #wall-photo {
        width: 215px;
    }

    .main-intro {
        position: absolute;
        top: 27vh;
        left: 25%;
    }

    .introduction {
        font-size: 2vw;
    }
}

/* Mobile */


@media screen and (max-width: 480px) {
    .greeting {
        font-size: 2rem;
    }

    #wall-photo {
        display: none;
    }

    .main-intro {
        position: absolute;
        top: 20vh;
        left: 10%;
    }

    .introduction {
        font-size: 3vw;
    }

}
